@import url(http://fonts.googleapis.com/css?family=Roboto);
html {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

main {
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 100px;
    box-sizing: inherit;
}

footer {
    bottom: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    background-color: lightpink;
    box-sizing: inherit;
}

header {
    background-color: lightpink;
    box-sizing: inherit;
}

img {
    height: 200px;
    width: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: inherit;
}

a {
    text-decoration-line: none;
    font-size: 25px;
    color: rgb(255, 57, 90);
    font-family: 'Roboto', sans-serif;
}

a:hover {
    color: green;
}

title {
    color: darkorchid;
}

.recipe-grid {
    display: flex;
    gap: 20px;
}
